

    <body>
        <nav>
                <section class="flex_content">
                    <figure class="logo fixed_flex my-3">
                        <img src="../../assets/black.png" alt="">
                        <figcaption>
                            <strong class="title"></strong>
                        </figcaption>
                    </figure>
                </section>
                <section class="flex_content nav_content" id="nav_content">
                    <a routerLink="/main" class="active">Home</a>
                    <a routerLink="#blogs">login</a>
                    <a href="#services"  >Searvices</a>
                    <a href="#contact-us" class="contact_btn">Contact us</a>
                    <a href="#about-us"  >About us</a>
                </section>
               
            </nav>
            
            <!--MENU-->
            <menu id="menu" class="side_menu">
                <a href="javascript:void(0)" class="close"><i class="fa fa-times"></i></a>
                <strong class="fixed_flex logo"><img src="https://i.postimg.cc/02NrFwT5/canva.png" alt="Summit"  loading="lazy" /></strong>
                <br>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Basic Parameters</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Features</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">Mandatory Disclosure</a>
                        <aside>
                            <a href="#">Society registration</a>
                            <a href="#">NOC</a>
                        </aside>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li class="fixed_flex"><a href="javascript:void(0)" class="btn btn_1 chat_popup">SignUp/LogIn</a> <a href="#" class="btn btn_2 chat_popup">Admission</a> </li>
                </ul>
            </menu>
            
            
           
            
           
        
        
        
        
        
        
        
            
    
    <!--MENU-->
    <menu id="menu" class="side_menu">
        <a href="javascript:void(0)" class="close"><i class="fa fa-times"></i></a>
        <strong class="fixed_flex logo"><img src="https://i.postimg.cc/02NrFwT5/canva.png" alt="Summit"  loading="lazy" /></strong>
        <br>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Basic Parameters</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Features</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)">Mandatory Disclosure</a>
                <aside>
                    <a href="#">Society registration</a>
                    <a href="#">NOC</a>
                </aside>
            </li>
            <li><a href="#">About us</a></li>
            <li class="fixed_flex"><a href="javascript:void(0)" class="btn btn_1 chat_popup">SignUp/LogIn</a> <a href="#" class="btn btn_2 chat_popup">Admission</a> </li>
        </ul>
    </menu>
    
    
    <section class="slider_section ">
        <div class="cover-page">
            <div class="overlay"></div>
            <div class="content">
                <h1 style="font-size: 80px;"><strong>ALPS Software</strong></h1><h5> Redefining Efficiency, One Workflow at a Time. </h5>
                <div class="buttons">
                    <!-- <button routerLink="/contact-us" class="contact-btn">Contact Us</button> -->
                    <!-- <button href="#about-us" class="about-btn">Alps</button> -->
                </div>
               
            </div>
        </div>
        
    </section>
    
    
<!--     
    <section class="about_section   " id="services">
        <div class="  ">
          <div class="row">
            <div class="col-md-6 px-5">
                <div class="img-box">
                    <img src="../../assets/office.jpg" alt="">
                  </div>
            </div>
            <div class="col-md-6 ">
              

              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                   Our Services
                  </h2>
                </div>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                  in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                  are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                  the middle of text. All
                </p>
                <a routerLink="/service">
                  Read More
                </a>
              </div>
            </div>
      
          </div>
        </div>
      </section> -->

      <div class="p-5 my-5" id="services">
        <h1 class="text-center mb-4">Our Services</h1>
        <div class="row g-4">
            <!-- Website Design & Development -->
            <div class="col-lg-4 col-md-6">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-paint-brush card-icon"></i>
                        <h5 class="card-title">Website Design & Development</h5>
                    </div>
                </div>
            </div>
    
            <!-- SEO & Digital Marketing -->
            <div class="col-lg-4 col-md-6">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-bullhorn card-icon"></i>
                        <h5 class="card-title">SEO & Digital Marketing</h5>
                    </div>
                </div>
            </div>
    
            <!-- Mobile App Development & Hosting -->
            <div class="col-lg-4 col-md-6">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="fas fa-mobile-alt card-icon"></i>
                        <h5 class="card-title">Mobile App Development & Hosting</h5>
                    </div>
                </div>
            </div>
            <div class="detail-box d-flex justify-content-center align-items-center p-2">
              <div class="heading_container">
              <u><a   routerLink="/service" style="text-decoration:underline; color:blue">
                Read More
              </a></u>
            </div>
          </div>
            
        </div>
        
       
    </div>
    
    <main>
        <!-- Existing content -->

        <!-- Services Card -->
      
        
        <!-- About Us Card -->
        <section class="about_section mb-4 my-6" id="about-us">
            <div class="  ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <div class="heading_container">
                      <h2>
                        About Us
                      </h2>
                    </div>
                    <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                      in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                      are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                      the middle of text. All
                    </p>
                    <a routerLink="/about-us">
                      Read More
                    </a>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="img-box">
                    <img src="../../assets/office.jpg" alt="">
                  </div>
                </div>
          
              </div>
            </div>
          </section>
        <!-- Contact Us Card -->


        <!-- <section class="about_section my-4 " id="contact-us">
            <div class="  ">
              <div class="row">
                <div class="col-md-6 px-5">
                    <div class="img-box">
                        <img src="../../assets/office.jpg" alt="">
                      </div>
                </div>
                <div class="col-md-6 ">
                  
    
                  <div class="detail-box">
                    <div class="heading_container">
                      <h2>
                       Contact US
                      </h2>
                    </div>
                    <p>
                      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                      in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                      are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                      the middle of text. All
                    </p>
                    <a routerLink="/service">
                      Read More
                    </a>
                  </div>
                </div>
          
              </div>
            </div>
          </section> -->

          
          
              
          <section class="cta-section" id="contact-us">
            <div class="cta-content">
                <h1>Get Better Solution For Your Business</h1>
                <a routerLink="/contact-us" class="cta-button">
                    <span class="cta-icon">📞</span> Contact Us Today
                </a>
            </div>
        </section>
          



        <!-- <section id="contact-us">
            <div class="card">
                <h2 class="card-title">Contact Us</h2>
                <p class="card-overview">Get in touch with us for any inquiries or support. We are here to help you with your questions and concerns.</p>
                <a routerLink="/contact-us" class="btn btn_3">Get in Touch</a>
            </div>
        </section> -->
    </main>
    
  
    
   
   
  










      </body>
      
      <!-- Toastify JS -->
      
   
