<app-header></app-header>
<!-- 
<div class="container ">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="title-bg-small wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms"></p>
        <h3 class="section-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">Our
          <span>Services</span></h3>
      </div>
    </div> -->

<!-- <section class="container">

    <section class="card__container">
  
    
      <div class="card__bx card__1">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx">
              <i class="fa-solid fa-pen-ruler"></i>
            </div>
          </div>
          <div class="card__content">
            <h3>Design</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card__bx card__2">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx"><i class="fa-solid fa-code"></i></div>
          </div>
          <div class="card__content">
            <h3>Development</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card__bx card__3">
        <div class="card__data">
          <div class="card__icon">
            <div class="card__icon-bx"><i class="fa-solid fa-rocket"></i></div>
          </div>
          <div class="card__content">
            <h3>Lauch</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
  
    </section>
  
  </section> -->

  <div class="container my-1">
    <h1 class="text-center mb-4">Our Services</h1>
    <div class="row g-4">
        <!-- Website Design & Development -->
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-paint-brush card-icon mb-3"></i>
                    <h5 class="card-title">Website Design & Development</h5>
                    <p class="card-text">Crafting Digital Masterpieces that resonate with your brand’s identity. We create unique, future-proof websites that are both beautiful and functional.</p>
                </div>
            </div>
        </div>

        <!-- SEO & Digital Marketing -->
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-bullhorn card-icon mb-3"></i>
                    <h5 class="card-title">SEO & Digital Marketing</h5>
                    <p class="card-text">Amplifying Your Voice in the Digital Jungle with smart SEO, precision PPC, engaging social media, and impactful content that connects with your audience.</p>
                </div>
            </div>
        </div>

        <!-- Mobile App Development & Hosting -->
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="fas fa-mobile-alt card-icon mb-3"></i>
                    <h5 class="card-title">Mobile App Development & Hosting</h5>
                    <p class="card-text">Empowering Mobile Moments with next-gen app development, performance optimization, resilient hosting, and continuous support for your app’s evolution.</p>
                </div>
            </div>
        </div>
    </div>
</div>